body {
  background-color: whitesmoke;
  height: max-content;
  max-height: max-content;
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 20px;
  height: max-content;
  max-width: 100vw;
}

header, footer {
  padding: 24px 48px;
  width: 100%;
}

.logo {
  width: 150px;
  height: 55px;
}

nav {
  display: flex;
  gap: 20px;
}

.nav__item {
  text-align: right;
}

main {
  display: flex;
}

section {
  width: 100vw;
  height: 100vh;
  padding: 250px 48px 0; 
}

.section-move {
  position: absolute;
}

#first {
  background-color: gray;
}

#second {
  background-color: darkgray;
}

#thrith {
  background-color: dimgray;
}

#fourth {
  background-color: darkslategray;
}

#five {
  background-color: black;
}

#six {
  background-color: darkcyan;
}

#seven {
  background-color: aqua;
}

#eaith {
  background-color: tan;
}

footer {
  background-color: gray;
}

footer nav {
  flex-direction: column;
}
